.footer {
    flex-shrink: 0;
    background-color: #afafaf;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-section h4 {
    color: #0a61ed;
    font-size: 1.6rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2 rem;
    transition: color 0.3s ease;
    
}

.footer-section ul li a:hover {
    color: #fae60e;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }
}