<div class="product-container">

        @for(product of product_arr; track $index){
        <div class="product-card">
            <img [src]="getImageUrl(product.imagePath)" [alt]="product.name" style="width: 100%; height: 200px;">
            <div class="product-info">
                <h2 class="product-title"> name : {{product.name}}</h2>
                <p class="product-price">price : {{product.price}}</p>
                <p class="product-price">quantity : {{product.quantity}}</p>
                <p class="product-description">{{product.description}}</p>
                <!-- <a href="products/{{product.id}}" class="buy-button">Buy Now</a> -->
            </div>
        </div>

        }


</div>
