<!-- home.component.html -->
<div class="home-container">
    <!-- Image Slider Section -->
    <app-image-slider></app-image-slider>


    <!-- Section 2: Features Section -->
    <section class="features-section">
        <h2>Our products</h2>
        <ul class="list-items">
          <li>
            <h3>Boys Fashion</h3>
            <p>we serve the high quality fashion for children , our collection is high standrd of quality and new trends</p>
          </li>
          <li>
            <h3>Men Fashion</h3>
            <p>we serve the high quality fashion for Mens , our collection is high standrd of quality and new trends</p>
          </li>
          <li>
            <h3>Women Fashion</h3>
            <p>we serve the high quality fashion for children , our collection is high standrd of quality and new trends.</p>
          </li>
        </ul>
      </section>
  
    <!-- Section 1: About Section -->
    <section class="about-section">
      <h2>About Us</h2>
      <p>
        <strong>Waikiki </strong> is a prominent Turkish fashion retail brand known for offering affordable and stylish clothing, accessories, and home products. Founded in 1988 by the French company Louis-Charles in France, it was later acquired by the Turkish company Taha Group in 1997 and subsequently expanded its operations in Turkey and beyond.
      </p>
    </section>
  
    
  </div>
  